<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <script src="js/angular.1_5.min.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <script src="js/contentstack-1.0.0.min.js"></script>
    <script src="js/myapp.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/tweetservice.js"></script>
    <script src="js/tweetDirective.js"></script>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Tweeter</title>
</head>

<body ng-controller="TwitrController as tc">
    <div class="container well" ng-init="tc.refreshTweet();">
        <button class="btn btn-success" ng-click="tc.refreshTweet();">Get Latest Tweets</button>
        <div class="tweetbox">
            <form>
                <textarea ng-model="tc.txttweet" placeholder="What's in your mind" autofocus></textarea>
            </form>
            <span>{{140 - tc.txttweet.length}}</span>
            <div class="buttonspace">
                <button class="btn btn-primary" ng-click="tc.addTweet();" type="button" ng-disabled="tc.txttweet.length < 5 || tc.txttweet.length >= 141 || tc.txttweet =='null'" ng-class="{'btn-warning': tc.txttweet.length >= 120, 'btn-danger': tc.txttweet.length >= 141 }">
                    Tweet</button>
            </div>
        </div>
        <tweet-directive data='tc.tweets' addclass='tc.addclass' remove='tc.remove' deletetweet='tc.deleteTweet'> </tweet-directive>
        <div class="counter">
            <h4><span class="label label-info">Total Tweets: <b>{{tc.tweetcount}}</b></span></h4></div>
    </div>
</body>

</html>
