<div class="tweetband" ng-repeat="tweet in data" ng-click="tweet2Modal(tweet.title)" 
ng-class="{newitem:addclass,removeditem: selected===$index&&remove}" 
data-toggle="modal" data-target="#myModal" data-backdrop="static" 
data-keyboard="false">
    {{tweet.title}}
    <div ng-include="modal"></div>
    <a href="" ng-click="invokeDelete(tweet.uid,$index);$parent.selected=$index" 
    style="float: right;" class="tooltip1"> 
    	<span class="glyphicon glyphicon-remove"></span>
        <span class="tooltiptext">Delete this tweet</span>
    </a>
</div>
