@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
body {
    background-color: #f5f8fa;
}

.tweetbox {
    margin: 0 auto;
    border-radius: 3px 3px 0 0;
    background-color: #5AC7E0;
    padding: 10px 12px 45px;
    width: 700px;
    border: 1px solid #e6dada;
}

textarea {
    overflow: auto;
    width: 670px;
}

::-webkit-input-placeholder {
   color: hsla(91, 17%, 49%, 0.45);
   font-style: italic;
}

.noTweet{
    display: none;
}

.loadmessage{
    color: red;
}
/*-------------------------------button*/

.buttonspace {
    float: right;
    margin-top: 5px;
}

.btn-success {
    float: right;
}

.spinner{
    background-image: url(../ring-alt.gif);
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    width: 45px;
    margin-bottom: -20px;

}
/*-----------------------Tweets-----------*/

.tweetband {
    margin: 0 auto;
    border-radius: 3px 3px 0 0;
    background-color: rgba(126, 232, 227, 0.85);
    padding: 15px 15px 30px;
    width: 700px;
    border: 1px solid #e6dada;
    word-wrap: break-word;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 0px #888888;
}

.counter {
    margin-left: 220px;
    margin-top: 8px;

}

.newitem {
    animation: new-item-animation .3s linear;
    /*  animation:fadein 1s;*/
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tweetpopup {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background-color: white;
    color: black;
    padding: 20px;
    border: 1px solid #E5F4F9;
    border-box: 2px 2px 2px grey;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
    text-align: center;
    z-index: 9999;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    animation: fadein 1s;
}

.container {
    margin-top: 20px;
}


/*-----------------------tooltip----------*/

.tooltip1 {
    position: relative;
    display: inline-block;
}

.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
    top: 0px;
    left: 20px;
}

a:hover {
    color: #B50746;
    transform: scale(1.5);
    text-decoration: none;
    transition-duration: 0.5s;
    z-index: 99999;
}

.tweeterid{
color: #066921;
font-weight: 600;
}

.removeditem {
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94);
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
    }
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}
